[MASTER]

# Specify a configuration file.
#rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

# Profiled execution.
profile=no

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS .git .hg

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=


[MESSAGES CONTROL]


[FORMAT]
max-line-length=121
disable=locally-disabled, locally-enabled, logging-format-interpolation, logging-fstring-interpolation

[General]
init-hook='import sys; sys.path.append("awsapilib")'
