#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
requests~=2.26.0
boto3~=1.20.54
beautifulsoup4~=4.10.0
opnieuw~=1.1.0
boto3-type-annotations~=0.3.1
cachetools~=4.2.4
pyotp~=2.6.0
2captcha-python~=1.0.3