#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
boto3>=1.18.52
requests>=2.26.0
beautifulsoup4>=4.10.0
opnieuw>=1.1.0