#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
boto3>=1.17.95
requests>=2.25.1
beautifulsoup4>=4.9.3
opnieuw>=1.1.0